<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>

<entry key="insertWater">

 INSERT 
    INTO TB_WATER
        (
            WATER_NO
            , BRAND
            , PRICE
        )
VALUES
        (
            SEQ_WATER_NO.NEXTVAL
            , ?
            , ?
        )

</entry>


<entry key="selectWater">


SELECT
    WATER_NO
    , BRAND
    , PRICE
FROM TB_WATER 


</entry>


<entry key="updateWater">

UPDATE  
    TB_WATER
SET 
    BRAND = ?
    , PRICE = ?
WHERE 
    WATER_NO = ?
</entry>


</properties>