<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertWater">
		INSERT
		  INTO WATER
		     (
		       WATER_NO
		     , WATER_BRAND
		     , PRICE
		     )
		VALUES 
		     (
		       SEQ_WATER_NO.NEXTVAL
		     , ?
		     , ?
		     )
	</entry>
	
	<entry key="selectWater">
		SELECT 
	       WATER_NO
	     , WATER_BRAND
	     , PRICE
	  FROM WATER
	</entry>
	
	<entry key="updateWater">
		UPDATE WATER
		   SET WATER_BRAND = ?,
		       PRICE = ?
		 WHERE WATER_NO = ? 
	</entry>
</properties>